node_modules
.next
.git
.gitignore
Dockerfile*
.dockerignore
*.md
.env
.env.local
.env.development
.env.development.local
.env.test
.env.test.local
.env.production.local
npm-debug.log*
.DS_Store
coverage
.vercel
*.tsbuildinfo
